code/web2com_NodeRed_Betriebsartumschaltung.json
[
    {
    "id": "da752f65b0a2ecc5",
    "type": "template",
    "z": "88f3ea6c2024b905",
    "name": "Set oid value XML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "plain",
    "template": "<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"\n xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n xmlns:ns=\"http://ws01.lom.ch/soap/\">\n <SOAP-ENV:Body>\n <ns:writeDpRequest>\n <ref>\n <oid>/1/3/4/107/0</oid>\n </ref> \n <dp>\n <index>0</index>\n <value>4</value>\n <timestamp>0</timestamp>\n </dp>\n </ns:writeDpRequest> \n </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>",
    "output": "str",
    "x": 630,
    "y": 500,
    "wires": [
    [
    "044bdde526dffa12"
    ]
    ]
    },
    {
    "id": "044bdde526dffa12",
    "type": "http request",
    "z": "88f3ea6c2024b905",
    "name": "web2com request",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.0.140/ws",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "digest",
    "senderr": false,
    "headers": [],
    "x": 870,
    "y": 460,
    "wires": [
    [
    "f3dffd9082f7361a"
    ]
    ]
    },
    {
    "id": "54bd9a9f4ca14618",
    "type": "template",
    "z": "88f3ea6c2024b905",
    "name": "Set oid value XML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "plain",
    "template": "<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"\n xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n xmlns:ns=\"http://ws01.lom.ch/soap/\">\n <SOAP-ENV:Body>\n <ns:writeDpRequest>\n <ref>\n <oid>/1/3/4/107/0</oid>\n </ref> \n <dp>\n <index>0</index>\n <value>1</value>\n <timestamp>0</timestamp>\n </dp>\n </ns:writeDpRequest> \n </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>",
    "output": "str",
    "x": 630,
    "y": 540,
    "wires": [
    [
    "044bdde526dffa12"
    ]
    ]
    },
    {
    "id": "e9b8e54d52faf228",
    "type": "template",
    "z": "88f3ea6c2024b905",
    "name": "Set oid value XML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "plain",
    "template": "<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"\n xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n xmlns:ns=\"http://ws01.lom.ch/soap/\">\n <SOAP-ENV:Body>\n <ns:writeDpRequest>\n <ref>\n <oid>/1/3/4/107/0</oid>\n </ref> \n <dp>\n <index>0</index>\n <value>0</value>\n <timestamp>0</timestamp>\n </dp>\n </ns:writeDpRequest> \n </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>",
    "output": "str",
    "x": 630,
    "y": 460,
    "wires": [
    [
    "044bdde526dffa12"
    ]
    ]
    },
    {
    "id": "d0aea02b36e421bc",
    "type": "knxUltimate",
    "z": "88f3ea6c2024b905",
    "server": "e065fb006e778388",
    "topic": "1/6/18",
    "setTopicType": "str",
    "outputtopic": "",
    "dpt": "17.001",
    "initialread": 0,
    "notifyreadrequest": false,
    "notifyresponse": false,
    "notifywrite": true,
    "notifyreadrequestalsorespondtobus": false,
    "notifyreadrequestalsorespondtobusdefaultvalue ifno tinitialized": "0",
    "listenallga": false,
    "name": "",
    "outputtype": "write",
    "outputRBE": "true",
    "inputRBE": "false",
    "formatmultiplyvalue": 1,
    "formatnegativevalue": "leave",
    "formatdecimalsvalue": 999,
    "passthrough": "no",
    "x": 130,
    "y": 460,
    "wires": [
    [
    "63e381c364bd569c",
    "092b440668f25cf7",
    "4c15d25fbeae2035"
    ]
    ]
    },
    {
    "id": "63e381c364bd569c",
    "type": "switch",
    "z": "88f3ea6c2024b905",
    "name": "Fussbodenheizung Aus",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
    {
    "t": "eq",
    "v": "0",
    "vt": "str"
    }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 460,
    "wires": [
    [
    "e9b8e54d52faf228"
    ]
    ]
    },
    {
    "id": "092b440668f25cf7",
    "type": "switch",
    "z": "88f3ea6c2024b905",
    "name": "Fussbodenheizung Automatik ",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
    {
    "t": "eq",
    "v": "1",
    "vt": "str"
    }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 390,
    "y": 540,
    "wires": [
    [
    "54bd9a9f4ca14618"
    ]
    ]
    },
    {
    "id": "4c15d25fbeae2035",
    "type": "switch",
    "z": "88f3ea6c2024b905",
    "name": "Fussbodenheizung Normal",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
    {
    "t": "eq",
    "v": "4",
    "vt": "str"
    }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 500,
    "wires": [
    [
    "da752f65b0a2ecc5"
    ]
    ]
    },
    {
    "id": "5e09ab654e3cc012",
    "type": "template",
    "z": "88f3ea6c2024b905",
    "name": "Get oid value XML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "plain",
    "template": "<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"\n xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n xmlns:ns=\"http://ws01.lom.ch/soap/\">\n <SOAP-ENV:Body>\n <ns:getDpRequest>\n <ref>\n <oid>/1/3/4/107/0</oid>\n </ref> \n <startIndex>0</startIndex>\n <count>10</count>\n </ns:getDpRequest> \n </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>",
    "output": "str",
    "x": 1090,
    "y": 460,
    "wires": [
    [
    "27d8649528e02e61"
    ]
    ]
    },
    {
    "id": "27d8649528e02e61",
    "type": "http request",
    "z": "88f3ea6c2024b905",
    "name": "web2com request",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.0.140/ws",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "digest",
    "senderr": false,
    "headers": [],
    "x": 1090,
    "y": 500,
    "wires": [
    [
    "998bce09b1ebd5b7"
    ]
    ]
    },
    {
    "id": "2f219818b1469886",
    "type": "inject",
    "z": "88f3ea6c2024b905",
    "name": "Manual Update",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 500,
    "wires": [
    [
    "967d930abbcaaf48"
    ]
    ]
    },
    {
    "id": "f3dffd9082f7361a",
    "type": "function",
    "z": "88f3ea6c2024b905",
    "name": "Updating...",
    "func": "msg.payload = \"Aktualisierung..\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 540,
    "wires": [
    [
    "967d930abbcaaf48"
    ]
    ]
    },
    {
    "id": "998bce09b1ebd5b7",
    "type": "xml",
    "z": "88f3ea6c2024b905",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 1050,
    "y": 540,
    "wires": [
    [
    "7e65e2c315b30a3f"
    ]
    ]
    },
    {
    "id": "2d2553951ae27aa1",
    "type": "knxUltimate",
    "z": "88f3ea6c2024b905",
    "server": "e065fb006e778388",
    "topic": "1/6/19",
    "setTopicType": "str",
    "outputtopic": "",
    "dpt": "16.000",
    "initialread": 0,
    "notifyreadrequest": false,
    "notifyresponse": false,
    "notifywrite": true,
    "notifyreadrequestalsorespondtobus": false,
    "notifyreadrequestalsorespondtobusdefaultvalue ifno tinitialized": "0",
    "listenallga": false,
    "name": "",
    "outputtype": "write",
    "outputRBE": "false",
    "inputRBE": "false",
    "formatmultiplyvalue": 1,
    "formatnegativevalue": "leave",
    "formatdecimalsvalue": 999,
    "passthrough": "no",
    "x": 1290,
    "y": 500,
    "wires": [
    []
    ]
    },
    {
    "id": "7e65e2c315b30a3f",
    "type": "function",
    "z": "88f3ea6c2024b905",
    "name": "Get oid name & value",
    "func": "// Get oid value\nvar name = msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][0][\"ns:getDpResponse\"][0].ref[0].oid[0];\nvar status = Number.parseFloat(msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][0][\"ns:getDpResponse\"][0].dpCfg[0].value[0]);\n\nif (Number.isNaN(status) == false)\n{\n // Compose payload\n msg.measurement = \"Warmwasser Status\";\n // Evaluate status string\n if (status == 0)\n {\n msg.payload = \"Standbybetrieb\";\n }\n else if (status == 1)\n {\n msg.payload = \"Automatik\";\n }\n else if (status == 4)\n {\n msg.payload = \"Normal Betrieb\";\n }\n else if (status == 3)\n {\n msg.payload = \"Nach Heizbetrieb\";\n }\n else\n {\n msg.payload = \"Unbekannt\";\n }\n return msg; \n}\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 460,
    "wires": [
    [
    "2d2553951ae27aa1"
    ]
    ]
    },
    {
    "id": "967d930abbcaaf48",
    "type": "trigger",
    "z": "88f3ea6c2024b905",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 500,
    "wires": [
    [
    "5e09ab654e3cc012"
    ]
    ]
    },
    {
    "id": "14ad9c2a863f5fb8",
    "type": "inject",
    "z": "88f3ea6c2024b905",
    "name": "",
    "props": [
    {
    "p": "payload"
    },
    {
    "p": "topic",
    "vt": "str"
    }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 540,
    "wires": [
    [
    "967d930abbcaaf48"
    ]
    ]
    },
    {
    "id": "5115b0b8ca51dd99",
    "type": "comment",
    "z": "88f3ea6c2024b905",
    "name": "web2com FBH Betriebsartumschaltung und STAT",
    "info": "",
    "x": 240,
    "y": 420,
    "wires": []
    },
    {
    "id": "e065fb006e778388",
    "type": "knxUltimate-config",
    "host": "192.168.0.147",
    "port": "3671",
    "physAddr": "15.15.250",
    "hostProtocol": "TunnelUDP",
    "suppressACKRequest": true,
    "csv": "",
    "KNXEthInterface": "ens3",
    "KNXEthInterfaceManuallyInput": "",
    "stopETSImportIfNoDatapoint": "stop",
    "loglevel": "error",
    "name": "KNX Gateway",
    "localEchoInTunneling": true,
    "delaybetweentelegrams": "50",
    "delaybetweentelegramsfurtherdelayREAD": "1",
    "ignoreTelegramsWithRepeatedFlag": false,
    "autoReconnect": "yes"
    }
]